{% extends "blog/base.html" %}

{% load static %}

{% block title %} {{ entry.title }} {% endblock %}


{% block coverphoto %} /~d49chan{{ entry.staticpath }}  {% endblock %}
{% block siteheader %} {{ entry.title }} {% endblock %}
{% block sitesubheader %} Posted on {{ entry.pub_date }}{% endblock %}

{% block content %}

<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {{ entry.formatted_markdown | safe }}
      </div>
    </div>
  </div>
</article>

{% endblock %}
